{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Sign in" %}</legend>
      {{ form|crispy }}
  </fieldset>
  <input type="submit" value='{% trans "Log in" %}'/>
</form>
<a href="{% url 'account_signup' %}">Sign Up</a>
{% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock %}


