{% extends "base.html" %}
{% block title %} <title>subscribe to our mailing list</title> {% endblock %}

{% block content %}


    <section class="mt-5 vh-100">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
            <div class="container-fluid">
              {% load crispy_forms_tags %}
              <form method="post">
                {% csrf_token %}
                <fieldset>
                    <h1 class="text-center">Newsletters Signup</h1>
                  <p class="text-center"><strong>Don't miss out any offers!</strong></p>
                  {{ form|crispy }}
                </fieldset>
                <button type="submit" class="buttons-auth my-2 mt-3">Subscribe</button>
              </form>
              <div>
                <div class="row justify-content-center">
                    <p class="mt-2"><a href="{% url "unsubscribe" %}">Unsubscribe form</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    
{% endblock %}