{% extends "base.html" %}
{% block title %} <title>subscribe to our mailing list</title> {% endblock %}

{% block content %}
    <body>
        <div class="container mt-5">
            <h1>Subscribe</h1>
            <p>Enter your email address to subscribe to our mailing list.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
            <p class="mt-2"><a href="{% url "unsubscribe" %}">Unsubscribe form</a></p>
        </div>
    </body>
{% endblock %}