{% extends "base.html" %}



{% block content %}
<!-- Introduction section   -->
<section class="py-5 vh-100 homepage-image">
    <div class="container-fluid">
        <div class="text-white homepage-text mx-sm-3 mx-lg-5">
            <h1 class="fw-bolder">Shop now, shine later!</h1>
            <p class="fw-normal">Don't miss out! Grab your favorites before they're gone!</p>
            <button type="button" class="homepage-button">Shop Now!</button>
        </div>
    </div>
</section>  

{% endblock %}