@media only screen and (max-width: 530px) {
    .homepage-text h1 {
        margin-top: 0px!important;
    }
}
@media only screen and (max-width: 700px) {
    .top-navbar .nav-link{
        font-size: 15px;
        padding: 8px 10px;
    }
    .homepage-image {
        background-position: 16% 7%!important;
    }
    .homepage-text p {
        padding-right: 70px!important;
    }
    .homepage-text h1 {
        padding-right: 70px!important;
    }
}

#brand-link {
    text-decoration: none;
    color: white;
}

.nav-item .nav-link{
    color: rgb(255, 255, 255);
    font-weight: 650;
}
.nav-item .nav-link:hover{
    color: rgb(158, 192, 231);
}
.main-navbar {
    background-color: black;
    color: rgb(255, 255, 255);
}

.secondary-navbar{
    background-color:  #b64545;
    font-size: 19px;
}

.logout-link {
    background: none;
    border: none;
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}

.homepage-image {
    background-image: url("/static/media/pexels-gustavo-fring-4173110\ \(1\).jpg");
    background-color: rgb(9, 0, 55);
    background-position:left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-text h1{
    margin-top: 90px;
    font-size: 40px;
}

.homepage-text p{
    font-size: 17px;
}

.homepage-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .homepage-button:hover {
    background-color: #212324;
  }

  .social-links button {
    background: none;
    border: none;
    color: black;
    font-size: 25px;
  }

  .signup-link a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }

  .buttons-auth {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .buttons-auth:hover {
    background-color: #212324;
  }