@media only screen and (max-width: 530px) {
    .homepage-text h1 {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 700px) {
    .top-navbar .nav-link {
        font-size: 15px;
        padding: 8px 10px;
    }

    .homepage-image {
        background-position: 16% 7% !important;
    }

    .homepage-text p {
        padding-right: 70px !important;
    }

    .homepage-text h1 {
        padding-right: 70px !important;
    }
}

#brand-link {
    text-decoration: none;
    color: white;
}

.nav-item .nav-link {
    color: rgb(255, 255, 255);
    font-weight: 650;
}

.nav-item .nav-link:hover {
    color: rgb(158, 192, 231);
}

.main-navbar {
    background-color: black;
    color: rgb(255, 255, 255);
}

.secondary-navbar {
    background-color: #b64545;
    font-size: 19px;
}

.logout-link {
    background: none;
    border: none;
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}

.homepage-image {
    background-image: url("/static/media/pexels-gustavo-fring-4173110\ \(1\).jpg");
    background-color: rgb(9, 0, 55);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-text h1 {
    margin-top: 90px;
    font-size: 40px;
}

.homepage-text p {
    font-size: 17px;
}

.shop-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.shop-link:hover {
    background-color: #212324;
}

.social-links button {
    background: none;
    border: none;
    color: black;
    font-size: 25px;
}

.signup-link a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.buttons-auth {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.buttons-auth:hover {
    background-color: #212324;
}

/* products */
.card {
    border: none !important;
}

.card-body {
    padding-bottom: 0.2rem !important;
    position: relative;
}

.products-image {
    width: 75% !important;
    height: 75% !important;
}

.product-header {
    position: relative;
}

.product-category {
    font-size: 12.5px;
    height: 19px;
    background: #eeeeee;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 11px;
    color: black;
    position: absolute;
    top: 0px;
    bottom: 3px;
    left: 15px;
}

.wishlist-icon {
    font-size: 22px;
    color: rgb(209, 90, 90);
    position: absolute;
    top: 0px;
    bottom: 3px;
    right: 15px;
}

.product-description {
    font-size: 14px;
    font-weight: 400;
}

.product-sizes {
    font-size: 13.5px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 180%;
}


.product-price {
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}

.product-rating {
    color: rgb(226, 226, 38);
    font-size: 13.5px;
    font-weight: 500;
    margin-bottom: 0 !important;
    margin-top: 5px;
}

.product-rating li {
    padding-right: 1.5px;
}

.add-cart {
    display: inline-block;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.overlay {
    position: absolute;
    text-decoration: none;
    top: 55%;
    transform: translateY(-50%);
    color: #f1f1f1;
    width: 100%;
    height: 50%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    
}

.overlay:hover {
    color: white;
}

.inspec-item {
    background-color: rgba(0, 0, 0, 0.642);
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}