{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- 
<div class="row">
    <div class="col-10 offset-1 mt-5">
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">

                <div class="card">

                    {% if product.product.image %}
                    <img src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/{{product.product.image}}"
                        class="products-image mx-auto" alt="product image {{product.product.name}}">
                    {% else %}
                    <img src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/no-image-1.jpg"
                        class="products-image mx-auto" alt="product image {{product.product.name}}">
                    {% endif %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled d-flex product-rating justify-content-start m-0">

                                    {% for testimonial in testimonials %}
                                    {% if testimonial.product_id == product.product.id %}
                                    {{ testimonial.testimonial_text }}
                                    <a href="{% url 'remove_testimonial' product.product_id %}?obj=testimonial"
                                        aria-label="remove user testimonial"> <i class="fa fa-trash"></i></a>
                                    <a href="{% url 'edit_testimonial' product.product_id %}"> <i
                                            class="fa fa-pen"></i></a>
                                    {% endif %}
                                    {% endfor %}



                                    {% for user_rate in user_rates %}
                                    {% if user_rate.product_id == product.product.id %}
                                    {% if user_rate.rating %}
                                    {{ user_rate.rating }}
                                    <a href="{% url 'edit_rating' product.product_id %}"> <i class="fa fa-pen"></i></a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if products %}
<p class="mb-5 mx-2"><strong>Edit or leave a review bellow!</strong></p>
<div class="row">
    {% for item in products %}
    <div class="row  mt-3">
        <div class="col-md-2 mb-2">
            <a href="{% url 'product_detail' item.product.id %}">
                <img src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/{{item.product.image}}"
                    class="products-image w-100 mx-auto">
            </a>
        </div>
        <div class="col-md-7">
            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
            <p class="my-0">
                {% for testimonial in testimonials %}
                {% if testimonial.product_id == item.product.id %}
                {{ testimonial.testimonial_text }}
                <a href="{% url 'remove_testimonial' item.product_id %}?obj=testimonial"
                    aria-label="remove user testimonial"> <i class="fa fa-trash"></i></a>
                <a href="{% url 'edit_testimonial' item.product_id %}"> <i class="fa fa-pen"></i></a>
                {% endif %}

                {% endfor %}

            </p>
        </div>
        <div class="col-md-3 text-right">
            <p class="my-0 small text-muted">
                {% for user_rate in user_rates %}
                {% if user_rate.product_id == item.product.id %}
                {% if user_rate.rating %}
                {{ user_rate.rating }}
                <a href="{% url 'edit_rating' item.product_id %}"> <i class="fa fa-pen"></i></a>
                {% endif %}
                {% endif %}

                {% endfor %}

                {% if not user_rates %}
            <p class="text-muted">Not rated yet</p>
            {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="lead mx-2">Your don't have any testimonails.</p>
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
</div>
</section>
 -->


{% if products %}
{% for product in products %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                        src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/{{product.product.image}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{product.product.name}}</h5>

                    {% for testimonial in testimonials %}
                    {% if testimonial.product_id == product.product.id %}
                    {{ testimonial.testimonial_text }}
            
                    {% endif %}
                    {% endfor %}
                    <br>
                    {% for user_rate in user_rates %}
                    {% if user_rate.product_id == product.product.id %}
                    {% if user_rate.rating %}
                    {{ user_rate.rating }}
                   
                    {% endif %}
                    {% endif %}
                    {% endfor %}


                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">


                    <div class="d-flex flex-column mt-4">

                        <a class="btn btn-primary btn-sm mt-2 text-white"
                            href="{% url 'edit_testimonial' product.product_id %}?obj=testimonial"
                            aria-label="edit your testimonial">Leave or Edit Text Testimonial Only <i class="fa fa-pen"></i></a>

                        <a class="btn btn-primary btn-sm mt-2 text-white"
                            href="{% url 'edit_rating' product.product_id %}?obj=testimonial"
                            aria-label="edit your rating">Leave or Edit Rating Only <i class="fa fa-pen"></i></a>

                        <a class="btn btn-danger btn-sm mt-2 text-white"
                            href="{% url 'remove_testimonial' product.product_id %}?obj=testimonial"
                            aria-label="remove user testimonial"> Delete Tesmonial <i class="fa fa-trash"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}