{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}

{% if product_review %}
{% for product, value in product_review.items %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1">

                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}" aria-label="click to check the products details">
                        <img class="img-fluid img-responsive rounded product-image"
                            src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/{{product.image}}">
                    </a>
                        {% else %}
                        <img class="img-fluid img-responsive rounded product-image"
                            src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/no-image-1.jpg">
                    </a>
                        {% endif %}

                </div>

                <div class="col-md-6 mt-1">
                    <h5>{{product.name}}</h5>

                    {% if value.1%}
                    {{value.1}}
                    {% else %}
                    <p>Please write a review for this product!</p>
                    {% endif%}

                    <br>

                    {% if value.0%}
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled d-flex product-rating justify-content-start m-0">
                                {% for n in range %}
                                {% if value.0|sub:n >= 0 %}
                                <li><span class="fas fa-star"></span></li>
                                {% endif %}
                                {% endfor %}
                                <li>
                                    <p class="mx-1"> {{value.0}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    {% endif%}




                </div>
                <div class="col-md-3 border-left mt-1">


                    <div class="d-flex flex-column">

                        {% if not value %}
                        <a class="btn btn-success btn-sm mt-2 text-white"
                            href="{% url 'product_detail' product.id %}?obj=testimonial"
                            aria-label="edit your testimonial">Leave Your Review! </a>
                            
                        {% endif %}

                        {% if value %}
                    </div>

                    <div class="d-flex flex-column">
                        <div class="dropdown">
                            <button class="btn btn-info btn-sm mt-2 dropdown-toggle text-white w-100 testimonial-button" type="button"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Review!</i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="btn btn-primary btn-sm mt-2 dropdown-item"
                                        href="{% url 'edit_review' product.id %}?obj=testimonial"
                                        aria-label="edit your testimonial">Edit Review! </a></li>

                                <li><a class="btn btn-primary btn-sm mt-2 dropdown-item"
                                        href="{% url 'edit_testimonial' product.id %}?obj=testimonial"
                                        aria-label="edit your testimonial">Edit Text Testimonial Only </a></li>

                                <li><a class="btn btn-primary btn-sm mt-2 dropdown-item"
                                        href="{% url 'edit_rating' product.id %}?obj=testimonial"
                                        aria-label="edit your rating">Edit
                                        Rating Only </a></li>

                            </ul>
                            
                        </div>
                        
                        <a class="btn btn-danger btn-sm mt-2 text-white"
                        href="{% url 'remove_testimonial' product.id %}?obj=testimonial"
                        aria-label="remove user testimonial"> Delete Review!</a>
                        

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}