{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="py-5 container-fluid vh-100">
<div class="container rounded bg-white mt-2 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{request.user}}</span><span class="text-black-50">{{request.user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-1">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">EirCode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"></div><br>
                <div class="col-md-12 mb-4"><a href="{% url 'product_review' %}" type="button">Please Leave a review!</a></div>
                <div class="col-md-12"><label class="labels">Order ....</label></div> <br>
                <div class="col-md-12"><label class="labels">Order ....</label></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>


<!-- 

<section class="py-5 container-fluid vh-100">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-3 mx-2">Welcome {{ request.user}},</h2>
        </div>
    </div>
    
    {% if products %}
    <p class="mb-5 mx-2"><strong>Edit or leave a review bellow!</strong></p>
    <div class="row">
        {% for item in products %}
        <div class="row  mt-3">
            <div class="col-md-2 mb-2">
                <a href="{% url 'product_detail' item.product.id %}">
                    <img src="https://zanfe.s3.eu-north-1.amazonaws.com/static/media/{{item.product.image}}" class="products-image w-100 mx-auto">
                </a>
            </div>
            <div class="col-md-7">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0">
                    {% for testimonial in testimonials %}
                    {% if testimonial.product_id == item.product.id %}
                    {{ testimonial.testimonial_text }}
                    <a href="{% url 'remove_testimonial' item.product_id %}?obj=testimonial"
                        aria-label="remove user testimonial"> <i class="fa fa-trash"></i></a>
                    <a href="{% url 'edit_testimonial' item.product_id %}"> <i class="fa fa-pen"></i></a>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-3 text-right">
                <p class="my-0 small text-muted">
                    {% for user_rate in user_rates %}
                    {% if user_rate.product_id == item.product.id %}
                    {% if user_rate.rating %}
                    {{ user_rate.rating }}
                    <a href="{% url 'edit_rating' item.product_id %}"> <i class="fa fa-pen"></i></a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% if not user_rates %}
                <p class="text-muted">Not rated yet</p>
                {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="lead mx-2">Your don't have any testimonails.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</section> -->
{% endblock %}