{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Hello {{ request.user}}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="">Personal Info:</p>
            </div>
            <div class="col-lg-4 col-md-12">User</div>
            <div class="col-lg-4 col-md-12">Email</div>
            {% if products %}
            {% for item in products %}
            <div class="col-lg-4 col-md-12">
                 <p>Reviews: {{item.product}}, <a href="{% url 'edit_testimonial' item.product_id %}">Testimonial</a> <a href="{% url 'edit_rating' item.product_id %}">Rating</a></p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
