{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="py-4 container-fluid vh-100">
    <div class="container rounded bg-white mt-2 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">{{request.user}}</span><span
                        class="text-black-50">{{request.user.email}}</span>
                        <small id="hint_id_password" class="form-text text-muted my-2"><a href="/accounts/password/reset/">Reset Password</a></small>
                    
                    </div>
                       
            </div>
            <div class="col-md-5 border-right">
                <div class="p-1">
                    <div class="d-flex mb-3">
                        <h4 class="text-right">Profile Page</h4>
                    </div>
                    <form action="{% url 'profile' %}" method="post" name="profile_address">
                        {% csrf_token %}

                        {% if user_address %}
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels" for="address-profile">Address
                                    Line:</label><input required id="address-profile" name="address-profile" type="text"
                                    class="form-control text-muted" placeholder="enter address"
                                    value="{{user_address.address_line}}"></div>
                            <div class="col-md-12"><label class="labels" for="city-address-profile">City:</label><input required
                                    id="city-address-profile" name="city-address-profile" type="text"
                                    class="form-control text-muted" placeholder="city" value="{{user_address.city}}">
                            </div>
                            <div class="col-md-12"><label class="labels" for="eircode-profile">Eircode:</label><input required
                                    id="eircode-profile" name="eircode-profile" type="text"
                                    class="form-control text-muted" placeholder="eircode"
                                    value="{{user_address.eircode}}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels" for="county-profile">County:</label><input required
                                    id="county-profile" name="county-profile" type="text"
                                    class="form-control text-muted" placeholder="county"
                                    value="{{user_address.county}}"></div>
                            <div class="col-md-6"><label class="labels" for="phone-profile">Phone:</label><input required
                                    type="text" id="phone-profile" name="phone-profile" class="form-control text-muted"
                                    value="{{user_address.phone}}" placeholder="phone"></div>
                        </div>


                        <div class="row mt-3">


                            <div class="mt-3 col-12">
                                <button class="btn btn-primary profile-button m-1" type="submit" style="width: 135px; height: 40px;">Save
                                    Address</button>
                                    <a href="{%url 'delete_profile_address'%}"
                                    class="btn btn-danger profile-button text-white m-1" style="width: 135px; height: 40px;">Delete Address </a>
                                
                                </div>

                        </div>


                        {% else %}

                        <form action="{% url 'profile' %}" method="post" name="profile_address">
                            {% csrf_token %}

                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels" for="address-profile">Address
                                        Line:</label><input required id="address-profile" name="address-profile" type="text"
                                        class="form-control" placeholder="enter address" value=""></div>
                                <div class="col-md-12"><label class="labels"
                                        for="city-address-profile">City:</label><input required id="city-address-profile"
                                        name="city-address-profile" type="text" class="form-control" placeholder="city"
                                        value="">
                                </div>
                                <div class="col-md-12"><label class="labels"
                                        for="eircode-profile">Eircode:</label><input required id="eircode-profile"
                                        name="eircode-profile" type="text" class="form-control" placeholder="eircode"
                                        value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels" for="county-profile">County:</label><input required
                                        id="county-profile" name="county-profile" type="text" class="form-control"
                                        placeholder="county" value=""></div>
                                <div class="col-md-6"><label class="labels" for="phone-profile">Phone:</label><input required
                                        type="text" id="phone-profile" name="phone-profile" class="form-control"
                                        value="" placeholder="phone"></div>
                            </div>


                            <div class="mt-3"><button class="btn btn-primary profile-button m-1" type="submit" style="width: 135px; height: 40px;">Save
                                    Profile</button></div>


                            {% endif %}

                        </form>
                </div>
            </div>
            <div class="col-md-4">

                <div class="order-history table-responsive pt-5">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th style="font-size: 15px;">
                                    Please review these products:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="text-muted" style="font-size: 13px;">{{ product }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class=" mb-4">
                    <a href="{% url 'product_review' %}" class="add-cart text-white btn-md">
                            <span style="a:hover,a:active,a:focus">Leave a Review!</span>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>


{% endblock %}