{% extends "base.html" %}
{% block content %}
<div class="text-center container py-5">
    <h2 class="mt-4 mb-5">Products</h2>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <div class="">
                        <a href="#"><p class="float-start">Category</p></a>
                        <a href="#"><i class="fa-regular fa-heart float-end"></i></a>
                    </div>
                    <img src="/static/media/0900631B81E48245M.jpg" class="w-100 h-100" />
                </div>
                <div class="card-body">
                    <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>

                    <p>XS SM MD LG</p>

                    <div class="row">
                        <div class="col-6">
                            <h6 class="">$61.99</h6>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled d-flex ">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <!-- <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}